.container{
    display: flex;
    flex-direction: row;

}
.d1{
    font-size: 30px;
    flex: 2;
    background-color: aquamarine;
    text-align: center;
    color: white;
}
.d2{
    font-size: 30px;
    flex: 1;
    background-color: blueviolet;
    text-align: center;
    color: white;

}