div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
}
p{
    background-color: rgba(78, 1, 194, 0.475);
    border: 1px solid rgb(47, 147, 5);
    border-radius: 5px;
    padding: 10px;
    color: white;
}