.container{
    display: flex;
    flex-wrap: wrap;
}
p:nth-child(1){
    margin: 4px 4px 4px 4px;
    background-color: rebeccapurple;
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(2){
    margin: 4px 4px 4px 4px;
    background-color: rgb(51, 146, 153);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(3){
    margin: 4px 4px 4px 4px;
    background-color: rgb(153, 51, 122);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(4){
    margin: 4px 4px 4px 4px;
    background-color: rgb(27, 7, 46);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(5){
    margin: 4px 4px 4px 4px;
    background-color: rgb(50, 23, 77);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(6){
    margin: 4px 4px 4px 4px;
    background-color: rgb(153, 153, 51);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(7){
    margin: 4px 4px 4px 4px;
    background-color: rgb(73, 153, 51);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(8){
    margin: 4px 4px 4px 4px;
    background-color: rgb(146, 51, 153);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(9){
    margin: 4px 4px 4px 4px;
    background-color: rebeccapurple;
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
p:nth-child(10){
    margin: 4px 4px 4px 4px;
    background-color: rgb(153, 51, 51);
    padding: 30px 150px 30px 150px;
    color: white;
    font-weight: bolder;
    font-size: 33px;
}
