#con{
    background-color: blueviolet;
    height: 500px;
    width: 100%;
    display: flex;
    padding: 12px;
    
}
div{
    background-color:rgba(247, 255, 10, 0.493) ;
    height: 200px;
    width: 200px;
    margin-left:7px ;
}