.container{
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    gap: 10px 10px;
}
.a1{
    background-color: aqua;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 400px;
}
.a2{
    background-color: rgb(89, 255, 0);
    grid-column-start: 2;
    grid-column-end: 4;
}
.a3{
    background-color: rgb(255, 0, 238);
}
.a4{
    background-color: rgb(255, 0, 0);
    height: 400px;
    grid-row-start: 2;
    grid-row-end: 4;
}
.a5{
    background-color: rgb(255, 247, 0);
}
.a6{
    background-color: rgb(255, 0, 191);
}
.a{
    border-radius: 10px;
}