.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
header{
    background-color: rgb(228, 228, 45);
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.sidebar{
    background-color: orangered;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 460px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
}
nav{
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    
}
article{
    background-color: rgb(161, 46, 46);
    border-radius: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
footer{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 30px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
body{
    margin: 0px;
}