.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.child{
    height: 180px;
    background-color: rgb(216, 213, 213);
    padding: 6px;
}
.sub-con1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
}
.c1{
    background-color: gray;
   
}
.sub-con2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
}