div:nth-child(1){
    background-color: blueviolet;
    z-index: 1;

}
div:nth-child(2){
    background-color: red;
    z-index: 2;
    top: 30px;
    left: 30px;
    
}
div:nth-child(3){
    background-color: yellow;
    z-index: 3;
    top: 60px;
    left: 60px;
    
}
div:nth-child(4){
    background-color: green;
    z-index: 4;
    top: 80px;
    left: 80px;
    
}
div{
    border: none;
    border-radius: 10px;
    height: 130px;
    width: 130px;
    position: absolute;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 6px;
}