.con{
    height: 700px;
    width: 700px;
    background-color: rgb(251, 227, 241) !important ;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
div{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}
div.a:nth-child(1){
    background-color: rgb(142, 71, 101);
    position: relative;
    z-index: 2;
left: 60px;
top: 60px;
   
}
div:nth-child(2){
    background-color: rgb(0, 110, 255);
    
}
div:nth-child(3){
    background-color: rgb(255, 251, 0);
}
div:nth-child(4){
    background-color: rgb(0, 255, 98);
}
div:nth-child(5){
    background-color: rgb(255, 0, 242);
}
div:nth-child(6){
    background-color: rgb(255, 0, 119);
}
div:nth-child(7){
    background-color: rgb(0, 255, 213);
}
div:nth-child(8){
    background-color: rgb(255, 0, 204);
}
div:nth-child(9){
    background-color: rgb(255, 77, 0);
}
div:nth-child(10){
    background-color: rgb(255, 0, 140);
}

div:nth-child(11){
    background-color: rgb(255, 0, 170);
}
div:nth-child(12){
    background-color: rgb(0, 110, 255);
}
